// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// classpip palettes
$classpip-app-primary: mat-palette($mat-indigo);
$classpip-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$classpip-app-warn: mat-palette($mat-red);

$classpip-white: #fff;
$classpip-background: #fafafa;

$classpip-lato: 'Lato',
Arial,
sans-serif;