/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@include mat-core();

@import './variables';
@import './mixins';
@import './materialize';

// Create the theme object (a Sass map containing all of the palettes).
// classpip theme
$theme: mat-light-theme($classpip-app-primary, $classpip-app-accent, $classpip-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

@include material-classpip-app-theme($theme);


/* css code begins here */
/* Pensar en el códgo css como mobile first introducir el codigo css para version movil */
/* Luego introducir los cambios a version tablet y version desktop en los archivos _tablet.scss y _desktop.scss */

html,
body {
  font-family: "Roboto", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  background-color: #fafafa;
  height: 100%;
}

app-root>.container {
  min-height: 100%;

  >div {
    max-height: 100% !important; // sass-lint:disable-line no-important
  }
}

.student-profile {
  .student-name {
    display: inline-block;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 40px;
    margin-left: 8px;
    vertical-align: top;
  }

  .home-profile-img {
    max-width: 36px;
    border-radius: 50%;
  }

  #progressbar {
    width: 100%;
  }

  .rank-image {
    max-width: 100%;
    width: 100%;
  }

  .rank-title {
    margin-top: -2em;
    margin-left: 0.8em;
  }

  .line-right {
    border-right: 1px solid #e0e0e0;
  }

  .display-level {
    font-size: 9em;
    color: #b90000;
    text-align: center;
  }

  .badges-title,
  .points-title,
  .level-title {
    display: block;
    text-transform: uppercase;
    padding-left: 0.8em;
    padding-top: 1.2em
  }

  .points-title {
    padding-top: 0.2em
  }

  .display-points {
    font-size: 2.5em;
    text-align: center;
  }

  .badge-container {
    padding-top: 1.2em;
  }

  .student-badge {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 10px 10px 0;

    img {
      max-width: 100%;
    }

    .badge-points {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #ca0000;
      color: #fff;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      line-height: 25px;
      text-align: center;
    }
  }
}

.list-of-schools {
  mat-list-item {
    &:hover {
      background-color: #ddd;
    }
  }

  button {
    margin-left: 5px;
    min-width: 120px;
  }
}

@import './tablet';
@import './desktop';