<mat-card [style.background-image]="backgroundImg" class="school-details-card">
  <mat-card-header>
    <img mat-card-avatar [src]="school.image">
    <mat-card-title>
      <h2>{{ school.name }}</h2>
    </mat-card-title>
    <mat-card-subtitle>{{ school.address }}, {{ school.zipCode }} {{ school.city }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ school.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="{{ school.twitter }}" target="_blank">{{ 'HOME.TWITTER' | translate }}</a>
    <a mat-button href="{{ school.facebook }}" target="_blank">{{ 'HOME.FACEBOOK' | translate }}</a>
    <a mat-button href="{{ school.website }}" target="_blank">{{ 'HOME.WEBSITE' | translate }}</a>
  </mat-card-actions>
</mat-card>
