<div class="student-profile">
  <div class="row" *ngIf="reward">
    <div class="col s12 m6">
      <img *ngIf="profile" class="home-profile-img" src="{{profile.avatar.image}}" alt="avatar image">
      <span *ngIf="profile" class="student-name">{{ profile.name }} {{ profile.surname }}</span>
    </div>
    <div class="col s12 m6">
      <div class="next-points-row">{{ 'HOME.NEXTLEVELPOINTS' | translate }}<b class="next-level-points">{{reward.next_level_points
          -
          reward.points}}</b></div>
      <div *ngIf="reward.next_level_points != 10" class="progressbar"><progress id="progressbar" value="{{10 - (reward.next_level_points - reward.points)}}"
          max="10"></progress></div>
      <div *ngIf="reward.next_level_points == 10" class="progressbar"><progress id="progressbar" value="0" max="10"></progress></div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row" *ngIf="reward">
    <div class="col s6 m4 line-right no-padding">
      <img *ngIf="rank" class="rank-image" src="{{rank.imageRangoLink}}" alt="imagen del rango">
      <h4 *ngIf="rank" class="rank-title">{{rank.nombreRango}}</h4>
    </div>
    <div class="col s6 m4 line-right">
      <span class="level-title">{{ 'HOME.LEVEL' | translate }}</span>
      <div class="display-level">{{reward.level}}</div>
      <span class="points-title">{{ 'POINTS.TITLE' | translate }}</span>
      <div class="display-points">{{reward.points}}</div>
    </div>
    <div class="col s12 m4">
      <div class="badges-title">{{ 'POINTS.TITLE' | translate }}</div>
      <div *ngIf="studentPoints" class="badge-container">
        <div *ngFor="let point of studentPoints" class="student-badge">
          <img src="{{point.image}}" alt="{{point.name}}" title="{{point.name}}">
          <div class="badge-points">{{point.value}}</div>
        </div>
      </div>
    </div>
  </div>
  <app-school *ngIf="school" [school]="school"></app-school>
</div>
