<style>
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

</style>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="data.name" placeholder="Nombre del Cuestionario">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="data.description" placeholder="Descripcion del Cuestionario">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="data.image" placeholder="Imagen del Cuestionario">
  </mat-form-field>
  <br>
  Selecciona las preguntas que quieres incluir al questionario
  <br>
  <table>
    <tr width="35">
      <th>Imagen</th>
      <th>Id</th>
      <th>Categoria</th>
      <th>Enunciado</th>
    </tr>
    <tr *ngFor="let quest of data.questionshtml ;let i=index" (click)=" myFn(quest.id)">
      <td><img src="{{quest.image}}" width="50" height="50"></td>
      <td>{{quest.id}}</td>
      <td>{{quest.category}}</td>
      <td>{{quest.statement}}</td>
    </tr>
  </table>
  <br>
  <br>
  <mat-form-field>
    <mat-select placeholder="Selecciona las preguntas" [(ngModel)]="data.questionId" multiple>
      <mat-option *ngFor="let quest of data.questionshtml" value={{quest.id}}>
        {{quest.statement}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button [mat-dialog-close]="data" mat-raised-button color="primary">Crear</button>
</mat-dialog-content>
<!-- https://material.angular.io/components/expansion/examples -->
<!-- TAMBIEN TENGO UN EJEMPLO DE DATE -->
