<style>
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

</style>
<mat-dialog-content>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.name" placeholder="Nombre del Cuestionario"
      required>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.description"
      placeholder="Descripcion del Cuestionario" required>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.image" placeholder="Imagen del Cuestionario"
      required>
  </mat-form-field>
  <mat-form-field style="width:400px !important">
    <mat-select style="width:400px !important" placeholder="Filtrar por categoria">
      <mat-option (click)="filterbycategory(cat,data.questionshtml)" *ngFor="let cat of data.category" value={{cat}}>
        {{cat}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <table *ngIf="!filteredquestions">
    <tr width="35">
      <th>Imagen</th>
      <th>Id</th>
      <th>Categoria</th>
      <th>Enunciado</th>
    </tr>
    <tr *ngFor="let quest of data.questionshtml ;let i=index">
      <td><img src="{{quest.image}}" width="50" height="50"></td>
      <td>{{quest.id}}</td>
      <td>{{quest.category}}</td>
      <td>{{quest.statement}}</td>
    </tr>
  </table>
  <table *ngIf="filteredquestions">
    <tr width="35">
      <th>Imagen</th>
      <th>Id</th>
      <th>Categoria</th>
      <th>Enunciado</th>
    </tr>
    <tr *ngFor="let quest of filteredquestions ;let i=index">
      <td><img src="{{quest.image}}" width="50" height="50"></td>
      <td>{{quest.id}}</td>
      <td>{{quest.category}}</td>
      <td>{{quest.statement}}</td>
    </tr>
  </table>
  <br>
  <br>
  <mat-form-field style="width:400px !important">
    <mat-select style="width:400px !important" placeholder="Seleccionas las preguntas del cuestionario"
      [(ngModel)]="data.questionId" multiple>
      <mat-option *ngFor="let quest of data.questionshtml" value={{quest.id}}>
        {{quest.statement}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button [mat-dialog-close]="data" mat-raised-button color="primary">Crear</button>
</mat-dialog-content>
<!-- https://material.angular.io/components/expansion/examples -->
<!-- TAMBIEN TENGO UN EJEMPLO DE DATE -->
