<mat-dialog-content>
  <h1>{{'QUESTIONNAIRE.CREATING'|translate}}</h1>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.name"
      placeholder="{{'QUESTIONNAIRE.NAME'|translate}}" required>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.description"
      placeholder="{{'QUESTIONNAIRE.DESCRIPTION'|translate}}" required>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.image"
      placeholder="{{'QUESTIONNAIRE.IMAGE'|translate}}" required>
  </mat-form-field>
  <mat-form-field style="width:400px !important">
    <mat-select style="width:400px !important" placeholder="{{'QUESTIONNAIRE.FILTERBYCATEGORY'|translate}}">
      <mat-option (click)="selectQuestionsfilterbycategory(cat,data.questionshtml)" *ngFor="let cat of data.category"
        value={{cat}}>
        {{cat}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <table *ngIf="!filteredquestions">
    <tr width="35">
      <th>Imagen</th>
      <th>Id</th>
      <th>Categoria</th>
      <th>Enunciado</th>
    </tr>
    <tr *ngFor="let quest of data.questionshtml ;let i=index">
      <td><img src="{{quest.image}}" width="50" height="50"></td>
      <td>{{quest.id}}</td>
      <td>{{quest.category}}</td>
      <td>{{quest.statement}}</td>
    </tr>
  </table>
  <table *ngIf="filteredquestions">
    <tr width="35">
      <th>Imagen</th>
      <th>Id</th>
      <th>Categoria</th>
      <th>Enunciado</th>
    </tr>
    <tr *ngFor="let quest of filteredquestions ;let i=index">
      <td><img src="{{quest.image}}" width="50" height="50"></td>
      <td>{{quest.id}}</td>
      <td>{{quest.category}}</td>
      <td>{{quest.statement}}</td>
    </tr>
  </table>
  <br>
  <br>
  <mat-form-field style="width:400px !important">
    <mat-select style="width:400px !important" placeholder="{{'QUESTIONNAIRE.SELECTQUESTIONS'|translate}}"
      [(ngModel)]="data.questionId" multiple>
      <mat-option *ngFor="let quest of data.questionshtml" value={{quest.id}}>
        {{quest.statement}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button [mat-dialog-close]="data" mat-raised-button color="primary">{{'QUESTIONNAIRE.CREATE'|translate}}</button>
</mat-dialog-content>
