<mat-dialog-content>
  <h1>{{'QUESTIONNAIRE.CREATING'|translate}}</h1>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.name"
      placeholder="{{'QUESTIONNAIRE.NAME'|translate}}" required>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.description"
      placeholder="{{'QUESTIONNAIRE.DESCRIPTION'|translate}}" required>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.image"
      placeholder="{{'QUESTIONNAIRE.IMAGE'|translate}}" required>
  </mat-form-field>
  <mat-form-field style="width:400px !important">
    <mat-select style="width:400px !important" placeholder="{{'QUESTIONNAIRE.FILTERBYCATEGORY'|translate}}">
      <mat-option (click)="selectQuestionsfilterbycategory(cat,data.questionshtml)" *ngFor="let cat of data.category"
        value={{cat}}>{{cat}}</mat-option>
    </mat-select>
  </mat-form-field>
  <table *ngIf="!filteredquestions">
    <tr>
      <th style="max-width: 10px!important">{{'QUESTIONNAIRE.TABLEID'|translate}}</th>
      <th>{{'QUESTIONNAIRE.TABLESTATEMENT'|translate}}</th>
      <th style="max-width: 25px!important">{{'QUESTION.TABLEDIFFICULTY'|translate}}</th>
    </tr>
  </table>
  <table *ngIf="filteredquestions">
    <tr>
      <th style="max-width: 10px!important">{{'QUESTIONNAIRE.TABLEID'|translate}}</th>
      <th>{{'QUESTIONNAIRE.TABLESTATEMENT'|translate}}</th>
      <th style="max-width: 25px!important">{{'QUESTION.TABLEDIFFICULTY'|translate}}</th>
    </tr>
    <tr *ngFor="let quest of filteredquestions ;let i=index">
      <td style="max-width: 10px!important">{{quest.id}}</td>
      <td class="ellipsis">{{quest.statement}}</td>
      <td style="max-width: 25px!important">{{quest.difficulty}}</td>
    </tr>
  </table>
  <br>
  <mat-form-field style="width:400px !important">
    <mat-select #selector style="width:400px !important" placeholder="{{'QUESTIONNAIRE.SELECTQUESTIONS'|translate}}"
      [(ngModel)]="data.questionId" multiple>
      <button mat-raised-button color="primary"
        (click)="selector.close()">{{'QUESTIONNAIRE.CLOSEBUTTON'|translate}}</button>
      <mat-option *ngFor="let quest of data.questionshtml" value={{quest.id}}>
        {{quest.statement}}</mat-option>
      <button mat-raised-button color="primary"
        (click)="selector.close()">{{'QUESTIONNAIRE.CLOSEBUTTON'|translate}}</button>
    </mat-select>
  </mat-form-field>
  <br>
  <button [mat-dialog-close]="data" mat-raised-button color="primary">{{'QUESTIONNAIRE.CREATE'|translate}}</button>
  <button style="position:relative!important;margin-left:225px!important;" mat-raised-button color="primary"
    (click)="exit()">{{'QUESTION.EXIT'|translate}}</button>
</mat-dialog-content>
