<mat-dialog-content>
  <h1>{{'QUESTION.CREATING'|translate}}</h1>
  <mat-form-field style="width:400px !important" appearance="legacy">
    <input style="width:400px !important" matInput type="text" [(ngModel)]="data.statement"
      placeholder="{{'QUESTION.STATEMENT'|translate}}" required>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.image" placeholder="{{'QUESTION.IMAGE'|translate}}"
      required>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="legacy">
    <input style="width:400px !important" matInput type="text" [(ngModel)]="data.category"
      placeholder="{{'QUESTION.CATEGORY'|translate}}" required>
  </mat-form-field>
  <mat-form-field style="width:400px !important">
    <mat-select style="width:400px !important" style="font-size: 15px;"
      placeholder="{{'QUESTION.DIFFICULTY'|translate}}" [(ngModel)]="data.difficulty" required>
      <mat-option value="Hard">Difícil</mat-option>
      <mat-option value="Medium">Medio</mat-option>
      <mat-option value="Easy">Fácil</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="outline">
    <input style="width:400px !important" matInput [(ngModel)]="data.explanation"
      placeholder="{{'QUESTION.ANSWERWHY'|translate}}" required>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important">
    <mat-select style="width:400px !important" placeholder="{{'QUESTION.NUMBEROFANSWERS'|translate}}" required>
      <mat-option (click)="numberOfAnswers(0)" value="0">0</mat-option>
      <mat-option (click)="numberOfAnswers(1)" value="Respuesta Abierta">{{'QUESTION.OPENANSWER'|translate}}
      </mat-option>
      <mat-option (click)="numberOfAnswers(2)" value="2">2</mat-option>
      <mat-option (click)="numberOfAnswers(3)" value="3">3</mat-option>
      <mat-option (click)="numberOfAnswers(4)" value="4">4</mat-option>
      <mat-option (click)="numberOfAnswers(5)" value="5">5</mat-option>
      <mat-option (click)="numberOfAnswers(6)" value="6">6</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field style="width:400px !important" appearance="outline" *ngIf="findRespuesta1" required>
    <input style="width:400px !important" matInput [(ngModel)]="data.answer1"
      placeholder="{{'QUESTION.ANSWER1'|translate}}">
  </mat-form-field>
  <mat-form-field style="width:400px !important" appearance="outline" *ngIf="findRespuesta2">
    <input style="width:400px !important" matInput [(ngModel)]="data.answer2"
      placeholder="{{'QUESTION.ANSWER2'|translate}}">
  </mat-form-field>
  <mat-form-field style="width:400px !important" appearance="outline" *ngIf="findRespuesta3">
    <input style="width:400px !important" matInput [(ngModel)]="data.answer3"
      placeholder="{{'QUESTION.ANSWER3'|translate}}">
  </mat-form-field>
  <mat-form-field style="width:400px !important" appearance="outline" *ngIf="findRespuesta4">
    <input style="width:400px !important" matInput [(ngModel)]="data.answer4"
      placeholder="{{'QUESTION.ANSWER4'|translate}}">
  </mat-form-field>
  <mat-form-field style="width:400px !important" appearance="outline" *ngIf="findRespuesta5">
    <input style="width:400px !important" matInput [(ngModel)]="data.answer5"
      placeholder="{{'QUESTION.ANSWER5'|translate}}">
  </mat-form-field>
  <mat-form-field style="width:400px !important" appearance="outline" *ngIf="findRespuesta6">
    <input style="width:400px !important" matInput [(ngModel)]="data.answer6"
      placeholder="{{'QUESTION.ANSWER6'|translate}}">
  </mat-form-field>
  <mat-form-field style="width:400px !important" *ngIf="findRespuesta2">
    <mat-select style="width:400px !important" placeholder="{{'QUESTION.CORRECTANSWERS'|translate}}"
      [(ngModel)]="data.correctanswer" multiple required>
      <mat-option *ngIf="findRespuesta1" value={{data.answer1}}>{{data.answer1}}</mat-option>
      <mat-option *ngIf="findRespuesta2" value={{data.answer2}}>{{data.answer2}}</mat-option>
      <mat-option *ngIf="findRespuesta3" value={{data.answer3}}>{{data.answer3}}</mat-option>
      <mat-option *ngIf="findRespuesta4" value={{data.answer4}}>{{data.answer4}}</mat-option>
      <mat-option *ngIf="findRespuesta5" value={{data.answer5}}>{{data.answer5}}</mat-option>
      <mat-option *ngIf="findRespuesta6" value={{data.answer6}}>{{data.answer6}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button [mat-dialog-close]="data" mat-raised-button color="primary"
    click="saveQuestion()">{{'QUESTION.CREATE'|translate}}</button>
</mat-dialog-content>
