.questionnaire-content {
  margin: 40px auto;
  max-width: 800px;
  padding-left: 50px;
}

mat-tab-group {
  padding: 60px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.green {
  color: green;
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.my-class {
  height: 400px;
  width: 600px;
  border-radius: 10px;
  background: lightcyan;
  color: #039be5;
}

.btn1 {
  color: rgb(49, 46, 46) !important;
  background-color: #3f51b5 !important;
  border-radius: 10px 10px 10px 10px !important;
  font-size: 16px !important;
  width: 300px !important;
  font-size: 24px !important;
  padding: 32px 16px !important;
  position: relative !important;
  left: 50px !important;

}

.btn2 {
  color: rgb(49, 46, 46) !important;
  background-color: #3f51b5 !important;
  border-radius: 10px 10px 10px 10px !important;
  font-size: 16px !important;
  width: 300px !important;
  font-size: 24px !important;
  padding: 32px 16px !important;
  position: relative !important;
  margin-left: 100px !important;
}

.btn3 {
  color: rgb(49, 46, 46) !important;
  background-color: #3f51b5 !important;
  border-radius: 10px 10px 10px 10px !important;
  font-size: 16px !important;
  width: 300px !important;
  font-size: 24px !important;
  padding: 32px 16px !important;
  position: relative !important;
  margin-top: 70px !important;
  margin-left: 50px !important;
}

.btn4 {
  color: rgb(49, 46, 46) !important;
  background-color: #3f51b5 !important;
  border-radius: 10px 10px 10px 10px !important;
  font-size: 16px !important;
  width: 300px !important;
  font-size: 24px !important;
  padding: 32px 16px !important;
  position: relative !important;
  margin-top: 70px !important;
  margin-left: 50px !important;
}

.my-centered-dialog {
  max-width: 80vw !important;

  .mat-dialog-container {
    max-width: none !important;
  }
}

.ellipsis {
  max-width: 40px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.ellipsis2 {
  max-width: 700px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;

}

.btn5 {
  background-color: #3f51b5 !important;
  font-size: 12px !important;
  width: auto !important;
  padding: 4px 6px !important;
  left: 300px;
}

.btn6 {
  background-color: #CD0006 !important;
  border-radius: 5px 5px 5px 5px !important;
  opacity: 0.6;
  cursor: not-allowed;
}

.btn7 {
  background-color: green !important;
  border-radius: 5px 5px 5px 5px !important;
  opacity: 0.6;
  cursor: not-allowed;
}