<mat-dialog-content>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let quest of data.questionshtml" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title *ngIf="quest.category">
          Categoria: {{quest.category}}
        </mat-panel-title>
        <mat-panel-description *ngIf="quest.statement">
          Descripcion: {{quest.statement}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table>
        <tr width="35">
          <th>Imagen</th>
          <th>Dificultad</th>
          <th>Tipo de pregunta</th>
          <th>Respuesta Correcta</th>
          <th>Respuestas</th>
        </tr>
        <tr>
          <td><img src="{{quest.image}}" width="50" height="50"></td>
          <td>{{quest.difficulty}}</td>
          <td>{{quest.type}}</td>
          <td>{{quest.correctanswer}}</td>
          <td>{{quest.answer1}} {{quest.answer2}} {{quest.answer3}} {{quest.answer4}} {{quest.answer5}}
            {{quest.answer6}}
          </td>
        </tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
