<mat-dialog-content>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel *ngFor="let Questionnaire of data.questionnaireshtml" hideToggle>
      <mat-expansion-panel-header (click)="getInformation(Questionnaire.id)">
        <mat-panel-title>
          {{Questionnaire.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{Questionnaire.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div mat-dialog>
        <table>
          <tr width="35">
            <th>Imagen</th>
            <th>Id</th>
            <th>Categoria</th>
            <th>Enunciado</th>
          </tr>
          <tr *ngFor="let quest of Questions">
            <td><img src="{{quest.image}}" width="50" height="50"></td>
            <td>{{quest.id}}</td>
            <td>{{quest.category}}</td>
            <td>{{quest.statement}}</td>
          </tr>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
