.journeys-content {
  margin: 40px auto;
  max-width: 800px;
}

.journey-card {
  background-color: lightyellow;
  width: 44%;
  display: inline-block;
}


h4, p {
  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
  caption-side: top;
  border-collapse: collapse;
}

thead {
  border: 0;
  text-align: left;
}
 
tbody {
  border: 1px solid #999;
  border-left: 0;
  border-right: 0;
}

thead th {
  background-color: lightyellow;
}

caption, td, th {
  padding: 0.3em;
}
th, td {
  border-bottom: 1px solid #999;
}
caption {
  font-weight: bold;
  font-style: italic;
  text-align: right;
}
 

table tr:nth-child(odd) {
  background-color: #efefef;
}

table tr:nth-child(even) {
  background-color: whitesmoke;
}


.result {
  background: khaki;
  text-align: center;
  width: 40%;
}

.player {
   width: 30%;
}
