.league-content{
  margin: 40px auto;
  max-width: 800px;
}

.a-content {
  margin: 10px 0;
}

.mat-raised-button {
  background-color: lightgoldenrodyellow;
}

.mat-expansion-panel {
  background-color: lightgoldenrodyellow;
}

.mat-radio-button {
  margin: 0 15px;
}

.competi-name {
  text-transform: uppercase;
}

.show-info-content {
  margin: 10px 0;
}

.information {
  margin: 1px 0;
  background-color: lightgoldenrodyellow;
}

.text-info {
  width: 100%;
}

.delete {
  background-color: lightsalmon;
  margin: 20px 0 0;
}

.final-button {
  margin: 20px 0;
}

a:hover {
  background: #E8DDC3;
}

button:hover {
  background: #E8DDC3;
}

.delete:hover {
  background: firebrick;
}

.edit-btn {
  margin: 10px 0 0 0;
  background-color: coral;
}

mat-card {
  background-color: lightyellow;
}

mat-radio-button {
  width: 21%;
}

.match1 {
  width: 15%;
}

