.stepper-content{
  margin: 40px auto;
  max-width: 800px;
}

mat-horizontal-stepper {
  margin: 0px auto;
}

 .form-group{
   margin: auto 20px;
 }

 .form-group-radio{
   margin: 5px 20px 12px 20px;
 }

 .final-buttons{
   margin: 25px auto;
 }

 .initial-journey{
  margin: 20px 0 0 0;
 }

 .mat-radio-button {
  padding-right: 30px;
}

.name {
  margin: 20px 0 0 0;
}

.text-info {
  width: 100%;
}

h4 {
  text-align: center;
  color: #474641;
  margin-bottom: 1px;
}
