.groups-content {
  margin: 0 40px 40px 40px !important;
  max-width: 1800px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn1 {
  color: rgb(49, 46, 46) !important;
  background-color: #3f51b5 !important;
  border-radius: 10px 10px 10px 10px !important;
  font-size: 16px !important;
  width: auto !important;
  font-size: 16px !important;
  padding: 10px 12px !important;
}