<style>
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

</style>
<mat-dialog-content>
  <mat-form-field style="width:400px !important" appearance="legacy">
    <input style="width:400px !important" matInput type="text" [(ngModel)]="data.name" placeholder="Nombre del juego"
      required>
  </mat-form-field>
  <mat-form-field style="width:400px !important">
    <mat-select style="width:400px !important" placeholder="Seleccione tipo de cuestionario" [(ngModel)]="data.gameMode"
      required>
      <mat-option (click)="tiempo(0)" value="QuizPip">QuizPip</mat-option>
      <mat-option (click)="tiempo(1)" value="1by1">Pregunta a Pregunta</mat-option>
      <mat-option (click)="tiempo(9)" value="Qlasspip">Questionario en línea</mat-option>
      <mat-option (click)="tiempo(9)" value="FlipCardsPip">Pregunta/Respuesta</mat-option>
      <mat-option (click)="tiempo(9)" value="TimeToLearn">Pregunta aleatoria en cualquier momento</mat-option>
      <mat-option (click)="tiempo(9)" value="TrivialClip"> Juego del Trivial</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="selectime" style="width:400px !important">
    <mat-select style="width:400px !important" placeholder="¿Quieres tiempo?" required>
      <mat-option (click)="tiempo(2)" value="Tiempo de pregunta">Tiempo de pregunta</mat-option>
      <mat-option (click)="tiempo(3)" value="Tiempo de cuestionario">Tiempo de cuestionario</mat-option>
      <mat-option (click)="tiempo(9)">Sin tiempo</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width:400px !important" appearance="outline" *ngIf="questiontime">
    <input type="number" style="width:400px !important" matInput [(ngModel)]="data.question_time"
      placeholder="Tiempo de pregunta en segundos (Opcional)">
  </mat-form-field>
  <mat-form-field style="width:400px !important" appearance="outline" *ngIf="questionnairetime">
    <input type="number" style="width:400px !important" matInput [(ngModel)]="data.questionnaire_time"
      placeholder="Tiempo de questionario total en segundos (Opcional)">
  </mat-form-field>
  <mat-form-field style="width:400px !important">
    <mat-select style="width:400px !important" placeholder="¿Jugar en equipos?" [(ngModel)]="data.teamMode" required>
      <mat-option (click)="teamModeSelect(false)" value="1">Individual</mat-option>
      <mat-option (click)="teamModeSelect(true)" value="-1">Equipos</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width:400px !important" *ngIf="team" required>
    <mat-select style="width:400px !important" placeholder="Uno o múltiplos dispositivos?" [(ngModel)]="data.teamMode2">
      <mat-option value="2">Cada miembro del equipo con su dipositivo</mat-option>
      <mat-option value="3">Cada equipo con un dispositivo</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width:400px !important">
    <input style="width:400px !important" matInput [(ngModel)]="data.start_date" [matDatepicker]="picker"
      placeholder="Fecha de inicio para responder" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="width:400px !important">
    <input style="width:400px !important" matInput [(ngModel)]="data.finish_date" [matDatepicker]="picker2"
      placeholder="Fecha final para responder" required>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Selecciona el questionnario a utilizar" [(ngModel)]="data.questionnaireId" required>
      <mat-option *ngFor="let Questionnaire of data.questionnaireshtml" value={{Questionnaire.id}}>
        {{Questionnaire.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button [mat-dialog-close]="data" mat-raised-button color="primary">Crear</button>
</mat-dialog-content>

<!--https://material.angular.io/components/expansion/examples -->
<!-- TAMBIEN TENGO UN EJEMPLO DE DATE>-->
