<style>
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

</style>
<mat-dialog-content>
  <mat-form-field appearance="legacy">
    <input matInput type="text" [(ngModel)]="data.name" placeholder="Nombre del juego" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="data.question_time" placeholder="Tiempo de pregunta">
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="data.questionnaire_time" placeholder="Tiempo de questionario total">
  </mat-form-field>
  <br>
  ¿Jugar en equipos?<mat-select placeholder="¿Jugar en equipos?" [(ngModel)]="data.teamMode">
    <mat-option (click)="teamMode(false)" value="0">Individual</mat-option>
    <mat-option (click)="teamMode(true)">Equipos</mat-option>
  </mat-select>
  <mat-select placeholder="Select" *ngIf="team" [(ngModel)]="data.teamMode">
    <mat-option value="1">Cada miembro del equipo con su dipositivo</mat-option>
    <mat-option value="2">Cada equipo con un dispositivo</mat-option>
  </mat-select>
  Tipo de Juego <mat-select placeholder="Tipo de Juego" *ngIf="team" [(ngModel)]="data.gameMode">
    <mat-option value="QuizPip">QuizPip</mat-option>
    <mat-option value="1by1"> 1 por 1</mat-option>
    <mat-option value="Qlasspip">Questionario en línea</mat-option>
    <mat-option value="FlipCardsPip">Pregunta/Respuesta</mat-option>
    <mat-option value="TimeToLearn">Pregunta aleatoria en cualquier momento</mat-option>
    <mat-option value="TrivialClip"> Juego del Trivial</mat-option>
  </mat-select>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.finish_date" [matDatepicker]="picker" placeholder="Fecha limite para responder">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>

  <br>
  <mat-select placeholder="Selecciona las respuestas correctas" [(ngModel)]="data.questionnaireId">
    <mat-option *ngFor="let Questionnaire of data.questionnaireshtml" value={{Questionnaire.id}}>
      {{Questionnaire.name}}</mat-option>
  </mat-select> <br>
  <button [mat-dialog-close]="data" mat-raised-button color="primary">Crear</button>
</mat-dialog-content>

<!-- https://material.angular.io/components/expansion/examples -->
<!-- TAMBIEN TENGO UN EJEMPLO DE DATE>-->
