<div class="groups-content">
  <button class="btn1" mat-raised-button (click)="openCreateNewGameComponent()">{{'GAMES.NEWGAME'|translate}}</button>
  <button class="btn1" *ngIf="results" mat-raised-button
    (click)="ShowResults()">{{'GAMES.SEERESULTS'|translate}}</button>
  <!--<button mat-raised-button >(click)="showGames(group)">{{ 'GROUP.MYGAMES |translate }}</button>-->
  <br>
  <h5 *ngIf="activeQuestionnairesGame">{{'GAMES.ACTIVEQUESTIONNAIRES'|translate}}</h5>
  <div *ngIf="activeQuestionnairesGame">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let questGame of activeQuestionnairesGame" hideToggle>
        <mat-expansion-panel-header (click)="getQuestionnaireOfQuestionnaireGame(questGame.questionnaireId)">
          <mat-panel-title>
            {{questGame.id}}
          </mat-panel-title>
          <mat-panel-description>
            {{questGame.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table>
          <tr width="35">
            <th>{{'GAMES.TABLETYPEOFGAME'|translate}}</th>
            <th>{{'GAMES.TABLESTARTDATE'|translate}}</th>
            <th>{{'GAMES.TABLEFINISHDATE'|translate}}</th>
          </tr>
          <tr>
            <td>{{questGame.gameMode}}</td>
            <td>{{questGame.str_date}}</td>
            <td>{{questGame.fnsh_date}}</td>
          </tr>
        </table>
        <table *ngIf="questionnaire">
          <tr width="35">
            <th>{{'GAMES.TABLE_QUESTIONNAIREID'|translate}}</th>
            <th>{{'GAMES.TABLE_QUESTIONNAIREIMAGE'|translate}}</th>
            <th>{{'GAMES.TABLE_QUESTIONNAIRENAME'|translate}}</th>
            <th>{{'GAMES.TABLE_QUESTIONNAIREDESCRIPTION'|translate}}</th>
          </tr>
          <tr>
            <td>{{questionnaire.id}}</td>
            <td><img src="{{questionnaire.image}}" width="50" height="50"></td>
            <td>{{questionnaire.name}}</td>
            <td>{{questionnaire.description}}</td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <h5 *ngIf="programmedQuestionnairesGame">{{'GAMES.PROGRAMMEDQUESTIONNAIRES'|translate}}</h5>
  <div *ngIf="programmedQuestionnairesGame">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let questGame of programmedQuestionnairesGame" hideToggle>
        <mat-expansion-panel-header (click)="getQuestionnaireOfQuestionnaireGame(questGame.questionnaireId)">
          <mat-panel-title>
            {{questGame.id}}
          </mat-panel-title>
          <mat-panel-description>
            {{questGame.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table>
          <tr width="35">
            <th>{{'GAMES.TABLETYPEOFGAME'|translate}}</th>
            <th>{{'GAMES.TABLESTARTDATE'|translate}}</th>
            <th>{{'GAMES.TABLEFINISHDATE'|translate}}</th>
          </tr>
          <tr>
            <td>{{questGame.gameMode}}</td>
            <td>{{questGame.str_date}}</td>
            <td>{{questGame.fnsh_date}}</td>
          </tr>
        </table>
        <table *ngIf="questionnaire">
          <tr width="35">
            <th>{{'GAMES.TABLE_QUESTIONNAIREID'|translate}}</th>
            <th>{{'GAMES.TABLE_QUESTIONNAIREIMAGE'|translate}}</th>
            <th>{{'GAMES.TABLE_QUESTIONNAIRENAME'|translate}}</th>
            <th>{{'GAMES.TABLE_QUESTIONNAIREDESCRIPTION'|translate}}</th>
          </tr>
          <tr>
            <td>{{questionnaire.id}}</td>
            <td><img src="{{questionnaire.image}}" width="50" height="50"></td>
            <td>{{questionnaire.name}}</td>
            <td>{{questionnaire.description}}</td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <h5 *ngIf="deadQuestionnairesGame">{{'GAMES.FINISHQUESTIONNAIRES'|translate}}</h5>
  <div *ngIf="deadQuestionnairesGame">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let questGame of deadQuestionnairesGame" hideToggle>
        <mat-expansion-panel-header
          (click)="getQuestionnaireOfQuestionnaireGame(questGame.id,questGame.questionnaireId)">
          <mat-panel-title>
            {{questGame.id}}
          </mat-panel-title>
          <mat-panel-description>
            {{questGame.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table>
          <tr width="35">
            <th>{{'GAMES.TABLETYPEOFGAME'|translate}}</th>
            <th>{{'GAMES.TABLESTARTDATE'|translate}}</th>
            <th>{{'GAMES.TABLEFINISHDATE'|translate}}</th>
          </tr>
          <tr>
            <td>{{questGame.gameMode}}</td>
            <td>
              {{questGame.str_date}}
            </td>
            <td>
              {{questGame.fnsh_date}}
            </td>
          </tr>
        </table>
        <table *ngIf="questionnaire">
          <tr width="35">
            <th>{{'GAMES.TABLE_QUESTIONNAIREID'|translate}}</th>
            <th>{{'GAMES.TABLE_QUESTIONNAIREIMAGE'|translate}}</th>
            <th>{{'GAMES.TABLE_QUESTIONNAIRENAME'|translate}}</th>
            <th>{{'GAMES.TABLE_QUESTIONNAIREDESCRIPTION'|translate}}</th>
          </tr>
          <tr>
            <td>{{questionnaire.id}}</td>
            <td><img src="{{questionnaire.image}}" width="50" height="50"></td>
            <td>{{questionnaire.name}}</td>
            <td>{{questionnaire.description}}</td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
